{% extends "base.html" %}
{% block navbar %}
<div class="container-fluid container-fluid-expand-lg">
    <nav class=" sb-topnav navbar navbar-expand-lg navbar-dark bg-dark">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="{{url_for('home')}}">ADMIN DASHBOARD</a>
    
        <!-- side bar toggle -->
        <button class="navbar-toggler order-1 order-lg-0 me-4 me-lg-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" id="sidebarToggle" > 
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar-->
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
    
            <!-- navbar search -->
            <form class="form-inline  ml-auto">
                <input class="form-control" type="text" placeholder="Search " aria-label="Search " aria-describedby="btnNavbarSearch" />
                <button class="btn btn-outline-primary" id="btnNavbarSearch" type="submit"><i class="fas fa-search"></i></button>
            </form>
            
        
        </div>
    
        
    
        
    </nav>
</div>
{% endblock  %}


